.add-list

  &__popup
    position: relative
    width: 235px
    height: 148px
    background: #FFFFFF
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05)
    border-radius: 10px
    padding: 18px

    & input
      width: 100%

    &-colors
      margin: 15px 0

      i
        cursor: pointer
        border-radius: 50%
        display: block
        width: 20px
        height: 20px
        border: 2px solid transparent

        &.active
          border: 2px solid #525252

    &-close-button
      cursor: pointer
      position: absolute
      top: -8px
      right: -8px

    & .add-button
      width: 100%
